#footer_description {
    padding: 20px;
    font-size: 12.5px;
    box-sizing: border-box;
}

#footer_description a {
    text-decoration: underline;
}

#footer_description ul {
    list-style-type: square;
}