#footer_description {
    padding: 10px;
}

#footer_description a {
    text-decoration: underline;
}

#footer_description ul {
    list-style-type: square;
}

#footer_description > :first-child {
    margin-top: 0!important;
    padding-top: 0!important;
}